<div class="widget-sidebar project-meta">
  <h3 class="widget-sidebar__title">Resume</h3>

  <!-- Resume Link -->
  <div class="project-meta__item">
    <a href="{{ site.data.settings.resume.link }}" target="_blank" class="linkButton">PDF <i class="fa-solid fa-arrow-up-right-from-square"></i></a>
  </div>
    <!-- <h3 class="project-meta__name">Github</h3>-->
    <!--<button class="github-link" id="membedded-subscribe" type="link" name="subscribe">Github <i class="fa-solid fa-link"></i></button>
    <div class="project-meta__text">{{ page.github }}</div>
  </div>-->
</div>