---
layout: default
---

<div class="container">

  <div class="project-info">
    {% if page.subtitle %}
    <p class="project-info__subtitle">{{ page.subtitle }}</p>
    {% endif %}
    <h1 class="project-info__title">{{ page.title }}</h1>
  </div>

  <!-- Demo Video (YouTube Links)-->
  {% if page.demo %}
  <div class="project-info-demo">
    <iframe src="{{site.baseurl}}{{page.demo}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <!-- If there is no Demo Video, display the image-->
  {% else if page.image %}
  <div class="project-info-image">
    <img class="lazy" data-src="{{site.baseurl}}{{page.image}}" alt="{{page.title}}"> 
  </div>
  {% endif %}

  <div class="row">
    <div class="project-left col col-7 col-d-12">
      <div class="project-content">
        {{ content }}
      </div>

    </div>

    <div class="project-right col col-5 col-d-12">
      <aside class="sidebar">
        {% include sidebar-widgets/widget-project-meta.html %}
        {% include sidebar-widgets/widget-recent-projects.html %}
      </aside>
    </div>

  </div>

</div>